.blu {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 2s ease;
}

.mask{
  width: 100vw;
  height: 100vh;
  transform: scale(2);
  position: absolute;
  background-color: rgba(0, 0, 0, .2) !important;
  transition: all 1s ease;
  /* z-index: 3; */
}

.bg-slide,
.bg-slide .circle,
.bg-slide .circle img,
.circle-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 2s ease;
  transition-delay: 1s;
}
.bg-slide .circle.bg img {
  object-fit: cover;
  transform: rotate(0) scale(2);
}

.bg-color{
  background: linear-gradient(to bottom right, #87CEFA, #B0E0E6);
}

.txt1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 10%;
  z-index: 44;
}
.txt3-a,
.txt2-a,
.txt1-a {
  white-space: nowrap;
  display: inline-block;
  font-size: 0.5rem;
  font-weight: 700;
  text-align: center;
  /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
  background-blend-mode: multiply, multiply;
  /* background-clip: text; */
  color: #fff;
  transform: translateY(1rem);
  filter: blur(0.1rem);
  opacity: 0;
  transition: all 1s ease;
}

.txt1-a span,
.txt1-b span
 {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  color: transparent;
  background-clip: text;
  /* background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%) !important; */
  /* background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%) !important; */
  /* background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%) !important; */
  /* background-clip: text; */
  /* color: transparent !important; */
}

.txt2-a span,
.txt1-b span,
.txt1-a span{
  font-size: .8rem;
}


.txt3-b,
.txt2-b,
.txt1-b {
  white-space: nowrap;
  display: inline-block;
  font-size: 0.5rem;
  font-weight: 700;
  text-align: center;
  /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
  background-blend-mode: multiply, multiply;
  /* background-clip: text; */
  color: #fff;
  transform: translateY(1rem);
  filter: blur(0.1rem);
  opacity: 0;
  transition: all 1s ease;
}
.txt3-c,
.txt2-c,
.txt1-c {
  white-space: nowrap;
  display: inline-block;
  font-size: 0.5rem;
  font-weight: 700;
  text-align: center;
  /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
  background-blend-mode: multiply, multiply;
  /* background-clip: text; */
  color: #fff;
  transform: translateY(1rem);
  filter: blur(0.1rem);
  opacity: 0;
  transition: all 1s ease;
}

.txt3-a {
  color: rgba(207, 229, 252, .8) !important;
}
.txt3-b {
  color: rgba(209, 235, 253, .9) !important;
  transition-delay: 2s;
}
.txt3-c {
  color: rgba(211, 239, 254, 1) !important;
  transition-delay: 4s;
}

.large,
.circle-dark {
  z-index: 2;
  clip-path: circle(50% at 50% 50%);
  transition: all 2.5s ease;
  transition-delay: 0.5s !important;
}

.small {
  z-index: 3;
  clip-path: circle(40% at 50% 50%);
  transition: all 2s ease;
  transition-delay: .1s !important;
}

.circle-dark {
  transition: all 1s linear;
  transition-delay: 1s;
  background-color: rgba(0, 0, 0, 0.04);
}



