.xinzeng {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 55%;
}

.yh {
  display: inline-block;
  align-items: center;
  position: relative;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  height: 0.8rem;
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  top: 0;
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  transition-delay: 0.5s;
  transition: all 1s ease;
  transform: translateY(0.2rem);
  opacity: 0;
  filter: blur(0.1rem);
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
}

.tj {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0.8rem;
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: green;
  color: rgba(0, 0, 0, 0);
  background-clip: text;
  transition: all 1s ease;
  transition-delay: 1s;
  filter: blur(0.1rem);
  opacity: 0;
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
}

.yhnum {
  transform: scale(1.4);
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  background-clip: text;
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.nzc {
  position: absolute;
  display: flex;
  width: 8rem;
  height: 0.3rem;
  font-weight: 70;
  font-size: 0.2rem;
  bottom: -0.25rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 0.01rem;
}

.ntj {
  position: absolute;
  display: flex;
  width: 8rem;
  height: 0.3rem;
  /* background-color: red; */
  font-weight: 70;
  font-size: 0.2rem;
  bottom: -0.2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 0.01rem;
}

.tjnum {
  transform: scale(1.4);
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  background-clip: text;
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.xinzeng {
  height: 45%;
  transform: scale(1.6);
}
.yh {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 3rem;
  background-color: #5d9fff;
  word-wrap: break-word;
}

.tj {
  flex-direction: column;
  justify-content: space-around;
  height: 3rem;
  background-color: #5d9fff;
  word-wrap: break-word;
}

.tj span {
  display: flex;
  width: 100%;
  height: 1rem;
  justify-content: center;
  align-items: center;
}

.yh span {
  display: flex;
  width: 100%;
  height: 1rem;
  justify-content: center;
  align-items: center;
}
