.special {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spl1 {
  width: 100%;
  height: 8%;
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
  background-clip: text;
  color: transparent;
  position: absolute;
  top: 57%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  font-size: 0.4rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  transition: all 1s ease;
  transition-delay: 0.5s;
  transform: translateY(1rem);
  filter: blur(10px);
  opacity: 0;
}

.spl1 span:nth-child(1) {
  margin-right: .1rem;
  font-size: 0.7rem;
  letter-spacing: 0;
  color: #fff;
}

.sec{
  margin-left: .1rem;
  margin-right: .1rem;
}

.spl2 {
  width: 100%;
  height: 8%;
  background-image: linear-gradient(
    to top,
    #c4c5c7 0%,
    #dcdddf 52%,
    #ebebeb 100%
  );
  background-clip: text;
  color: transparent;
  position: absolute;
  top: 65%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  font-size: 0.35rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  transform: translateY(1rem);
  filter: blur(10px);
  opacity: 0;
  transition: all 1s ease;
  transition-delay: 2s;
}

.spl3 {
  width: 100%;
  height: 8%;
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
  background-clip: text;
  color: transparent;
  position: absolute;
  top: 76%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  font-size: 0.35rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  transform: translateY(1rem);
  filter: blur(10px);
  opacity: 0;
  transition: all 1s ease;
  transition-delay: 4.5s;
}

.spl3 span:nth-last-child(2) {
  font-size: 0.6rem;
  letter-spacing: 0;
  color: #fff;
}

.spl1time {
  display: inline-block;
  width: auto;
  height: auto;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.spl2oj {
  width: initial;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.spl4 {
  width: 100%;
  height: 8%;
  background-image: linear-gradient(
    to top,
    #c4c5c7 0%,
    #dcdddf 52%,
    #ebebeb 100%
  );
  background-clip: text;
  color: transparent;
  position: absolute;
  top: 69%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  font-size: 0.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  transform: translateY(1rem);
  filter: blur(10px);
  opacity: 0;
  transition: all 1s ease;
  transition-delay: 3s;
  span{
    margin-left: .1rem;
    margin-right: .1rem;
    display: inline-block;
    letter-spacing: 0;
  }
}
.splanimall {
  width: 100%;
  height: 26%;
  position: relative;
  top: -15%;
  transition: all 2.5s ease;
  transition-delay: 1s;
  opacity: 0;
}

.bili1 {
  z-index: 4;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 23%;
  height: 2.1rem;
  border-radius: 0.3rem;
  right: 1rem;
  top: 70%;
  transform: rotate(10deg);
  background-color: #fff;
  animation: bili1anim 2s linear infinite alternate;
}

@keyframes bili1anim {
  0% {
    transform: rotate(10deg) translateY(-0.3rem);
  }
  100% {
    transform: rotate(10deg) translateY(0.3rem);
  }
}

.bili1::before {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 0.5rem;
  left: 0.9rem;
  top: -0.6rem;
  transform: rotate(-10deg);
  transform-origin: bottom;
  border-radius: 0.1rem;
  background-color: rgb(109, 109, 109);
}

.bili1::after {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 0.5rem;
  left: 1.5rem;
  top: -0.63rem;
  transform: rotate(20deg);
  transform-origin: bottom;
  border-radius: 0.1rem;
  background-color: rgb(109, 109, 109);
}
.bili1txt {
  position: absolute;
  bottom: 0.1rem;
  font-size: 0.3rem;
  color: #333333;
  font-weight: 600;
}

.eyes {
  width: 1.5rem;
  height: 0.5rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0.5rem;
}

.eyes::before {
  content: "";
  width: 0.2rem;
  height: 0.4rem;
  border-radius: 0.1rem;
  background-color: rgb(82, 82, 82);
}

.eyes::after {
  content: "";
  width: 0.2rem;
  border-radius: 0.1rem;
  height: 0.4rem;
  background-color: rgb(82, 82, 82);
}

.bili2 {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 0.8rem;
  border-radius: 0.1rem;
  right: 1rem;
  top: 0rem;
  transform: rotate(-10deg);
  background-color: #fff;
  animation: bili2anim linear 2s infinite alternate;
}

.bili2::after {
  content: "code";
  color: #333333;
  font-size: 0.3rem;
  font-weight: 700;
}

@keyframes bili2anim {
  0% {
    transform: rotate(-10deg) translateY(-0.3rem);
  }
  100% {
    transform: rotate(-10deg) translateY(0);
  }
}

.code {
  z-index: 4;
  width: 2rem;
  position: absolute;
  bottom: 0.5rem;
  /* transform: rotate(10deg); */
  animation: codeanim 2s linear infinite alternate;
}

@keyframes codeanim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.2rem);
  }
}

.codesmall {
  z-index: 1;
  position: absolute;
  left: 1rem;
  transform: rotate(-10deg);
  animation: cdsm 1s linear infinite alternate;
}

@keyframes cdsm {
  from {
    transform: rotate(-10deg) translateY(0);
  }
  to {
    transform: rotate(-10deg) translateY(-0.2rem);
  }
}

.bigoj {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  top: 28%;
  color: #fff;
  z-index: 0;
}

.bigoj::before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  border-radius: 50%;
  background-color: gray;
  filter: blur(20px);
  z-index: -1;
  top: -1rem;
  left: -1rem;
}

.bigoj::after {
  content: "";
  width: 5rem;
  height: 5rem;
  position: absolute;
  border-radius: 50%;
  background-color: gray;
  filter: blur(20px);
  z-index: -1;
  top: -0.9rem;
  right: -2rem;
}
