.sumarry {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.sum-qr {
  display: block;
  position: absolute;
  right: 8%;
  bottom: 6%;
  z-index: 11;
  background-color: transparent !important;
}

.scanner{
  position: absolute;
  /* writing-mode: vertical-lr; */
  z-index: 111;
  font-size: .2rem;
  bottom: 11%;
  right: 30%;
}

.main-button {
  position: absolute;
  display: grid;
  place-items: center;
  padding: 10px;
  border: none;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s;
  z-index: 100;
  bottom: 10%;
  right: 10%;
  &:hover {
    cursor: pointer;
  }
  &::after {
    display: none;
  }
}

.back {
  position: absolute;
  width: 160%;
  top: 19%;
  right: -60%;
}

.results-summary-container {
  position: relative;
  top: 5%;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  width: 90%;
  height: 90%;
  justify-content: center;
  border-radius: 1rem !important;
  box-shadow: 10px 10px 30px rgba(101, 101, 101, 0.3);
  backface-visibility: hidden;
}
.results-summary-container__result {
  padding-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: start;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 1rem !important;
  .result-box {
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .result-box img {
    width: 100%;
  }
}



.ac-num {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 1rem;
  gap: 0rem;
  font-size: 0.4rem;
  font-weight: 700;
  border-bottom: 0.1rem solid gray;
  /* letter-spacing: 0.07rem; */
  p {
    text-align: start;
    width: 50%;
    span{
      margin-left: 0.2rem;
    }
  }
  span {
    color: #4fb24f;
  }
  .percent{
    font-size: .3rem !important;
    font-weight: 70;
    position: absolute !important;
    right: -34.5% !important;
  }
}
.ac-num p:nth-child(3),
.ac-num p span {
  letter-spacing: 0;
  font-size: 0.55rem;
}
.achiv-num,
.rating {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0.4rem;
  font-weight: 700;
  height: 15%;
  span {
    color: orange;
    letter-spacing: 0;
    font-size: 0.6rem;
    margin-left: 0.2rem;
  }
}

.contests {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: start;
  flex-wrap: wrap;
  border-bottom: 0.1rem solid gray;
  padding-top: .2rem;
  padding-bottom: .2rem;
  .bisai {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 1rem;
    font-size: 0.4rem;
    font-weight: 700;
  }

  .bisai span:nth-child(2) {
    font-size: 0.6rem;
    color: darkorange;
  }
}

.heading-secondary,
.heading-tertiary {
  color: #000;
  text-transform: capitalize;
  font-weight: 700 !important;
  font-size: 0.6rem;
  margin-bottom: 0.4rem;
}
.heading-secondary {
  font-size: 0.5rem !important;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: .5rem;
}

.result-text-box {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.paragraph {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.paragraph-text-box {
  width: 100%;
}

.text-center {
  text-align: center;
}

.results-summary-container__options {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-content: start;
  flex-wrap: wrap;
  /* gap: 0; */
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  top: 0;

  .tag-head {
    position: absolute;
    /* top: 8%; */
    display: block;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 0.5rem;
    font-weight: 700;
  }

  .topoj {
    display: inline-block;
    font-size: 0.5rem;
    font-weight: 700;
    color: #000;
    position: absolute;
    bottom: 2%;
  }

  .summary-result-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    width: 100%;
    height: auto;
  }
}
.summary-result-options .tag:nth-child(1) {
  width: auto;
  height: 15%;
}
.summary-result-options .tag:nth-child(2) {
  width: auto;
  height: 15%;
}
.summary-result-options .tag:nth-child(3) {
  width: auto;
  height: 15%;
}

.summary-result-options .tag:nth-child(4) {
  width: auto;
  height: 15%;
}

.summary-result-options .tag:nth-child(5) {
  width: auto;
  height: 15%;
}

.summary-result-options .tag:nth-child(6) {
  width: auto;
  height: 15%;
}
.summary-result-options .tag:nth-child(7) {
  width: auto;
  height: 15%;
}
.tag {
  z-index: 11;
  position: relative;
  width: 65%;
  height: 1rem !important;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.4rem;
  font-weight: 700;
  color: #000;
  border: 0.1rem solid #000;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: rotateX(10deg) rotateY(-10deg);
  box-shadow: 0.2rem 0.2rem #525252;
  margin: 0.2rem;
  padding: 0.2rem;
}

.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 25%;
  width: 42%;
  height: 100%;
  z-index: 1000;
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: hsl(39, 100%, 56%);
  top: 0;
  opacity: 0;
  animation: makeItRain 3000ms infinite linear;
}

.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(-10deg);
  animation-delay: 182ms;
  animation-duration: 2000ms;
}

.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(20deg);
  animation-delay: 161ms;
  animation-duration: 2076ms;
}

.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(-51deg);
  animation-delay: 481ms;
  animation-duration: 2103ms;
}

.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(61deg);
  animation-delay: 334ms;
  animation-duration: 1008ms;
}

.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-52deg);
  animation-delay: 302ms;
  animation-duration: 1776ms;
}

.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(38deg);
  animation-delay: 180ms;
  animation-duration: 1168ms;
}

.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(11deg);
  animation-delay: 395ms;
  animation-duration: 1200ms;
}

.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(49deg);
  animation-delay: 14ms;
  animation-duration: 1887ms;
}

.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-72deg);
  animation-delay: 149ms;
  animation-duration: 1805ms;
}

.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(10deg);
  animation-delay: 351ms;
  animation-duration: 2059ms;
}

.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(4deg);
  animation-delay: 307ms;
  animation-duration: 1132ms;
}

.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(42deg);
  animation-delay: 464ms;
  animation-duration: 1776ms;
}

.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 1818ms;
}

.confetti-piece:nth-child(14) {
  left: 94%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 818ms;
}

.confetti-piece:nth-child(15) {
  left: 96%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 2818ms;
}

.confetti-piece:nth-child(16) {
  left: 98%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 2818ms;
}

.confetti-piece:nth-child(17) {
  left: 50%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 2818ms;
}

.confetti-piece:nth-child(18) {
  left: 60%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 1818ms;
}

.confetti-piece:nth-child(odd) {
  background-color: hsl(0, 100%, 67%);
}

.confetti-piece:nth-child(even) {
  z-index: 1;
}

.confetti-piece:nth-child(4n) {
  width: 6px;
  height: 14px;
  animation-duration: 4000ms;
  background-color: #c33764;
}

.confetti-piece:nth-child(5n) {
  width: 3px;
  height: 10px;
  animation-duration: 4000ms;
  background-color: #b06ab3;
}

.confetti-piece:nth-child(3n) {
  width: 4px;
  height: 12px;
  animation-duration: 2500ms;
  animation-delay: 3000ms;
  background-color: #dd2476;
}

.confetti-piece:nth-child(3n-7) {
  background-color: hsl(166, 100%, 37%);
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateY(4rem);
  }
}

.Btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 5%;
  z-index: 11;
  border: 0;
}

.svgIcon {
  fill: rgb(70, 70, 70);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(70, 70, 70);
  border-left: 2px solid rgb(70, 70, 70);
  border-right: 2px solid rgb(70, 70, 70);
}

.Btn:hover {
  background-color: rgb(51, 51, 51);
  transition-duration: 0.3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 1s linear infinite;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
